.user-center {
    width: 800px;
    height: 300px;
    margin: 20px 0;
    border: 1px solid #ebebeb;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    /* box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.03); */
    border-radius: 10px;
}

.about {
    padding: 20px 60px;
}

.user-center h2 {
    padding-bottom: 1rem;
    font-size: 64px;
    font-family: "PingFang HK"serif;
}

.user-center p {
    font-size: 14px;
    line-height: 24px;
    color: #4b4b4b;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 820px;
    height: auto;
}

.flex-box div {
    width: 390px;
    height: 100px;
    border: 1px solid #ebebeb;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    /* box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.03); */
    border-radius: 10px;
    margin: 10px;
}