.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 800px;
    height: 123px;
    border-bottom: 1px solid #EBEBEB;
    background-color: rgba(255, 255, 255, 0);
}

.split-line {

    width: 800px;
    height: 40px;
    border-bottom: 1px solid #EBEBEB;
}

.icon-font {
    width: 56px;
    height: 56px;
    background-color: rgba(255, 255, 255, 0);
}

.titles h1 {
    font-size: 1.8em;
    padding-left: 30px;
}

/* 下面列表部分 */
.list {
    margin-top: 64px;
    width: 800px;
    height: auto;
    background-color: rgba(255, 175, 175, 0);
}

.list-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-box h1 {
    font-family: Roboto;
    font-size: 64px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.1);
}

.list-box ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    list-style: none;
}

.list-box ul li {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 560px;
    height: 120px;
    border: 1px solid #ebebeb;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.03);
    border-radius: 14px;
}

.list-box ul li a {
    width: 160px;
    height: 98px;
    padding: 10px;
}

.list-box ul li img {
    width: 100%;
    height: 100%;
}

.list-box ul li>div {
    padding: 36px 20px;
}

.list-box ul li h2 {
    font-size: 18px;
}

.list-box ul li p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.list-box ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.list-box ul li:hover {
    box-shadow: 4px 24px 60px rgba(0, 0, 0, 0.12);
}