* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box;
    -webkit-box-sizing: border-box; */
}

body {
    height: auto;
    background: #FAFAFA;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: rgb(255, 255, 255);
    border-bottom: 0.5px solid #e9e9e9;
}

.head-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
}

.h {
    margin: auto;
}



.logo {
    float: left;
    width: 42px;
    height: 42px;

}

.nav ul li {
    float: left;
    margin: 0 20px;
    list-style: none;
}

.nav ul li a {
    display: block;
    height: 36px;
    padding: 4px 0px;
    line-height: 36px;
    font-size: 16px;
    font-weight: bold;
    color: #1D2129;
    text-decoration: none;
}

.nav ul li a:hover {
    font-weight: bold;
    border-bottom: 3px solid #165DFF;
    color: #165dff;
}

.fonts p {
    font-size: 20px;
    padding-top: 60px;
}

/* 底部模块制作 */
.footer {
    clear: left;
    height: 120px;
    background-color: rgb(255, 255, 255);
    padding-top: 30px;
    margin-top: 60px;
    border-top: 0.5px solid rgba(0, 0, 0, 0.1);
}

.mod_help {
    float: right;
}

.mod_help dl dt {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.mod_help dl dt dd {
    font-size: 14px;
}