.selector-for-some-widget {
    box-sizing: content-box;
}


.canvas {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

.h-suntitle {
    font-family: 'Poppins';
    /* font-size: 5em; */
    font-weight: 600;
    line-height: 1.3;
    z-index: 1;
    /* text-align: center; */
    color: rgb(0, 0, 0);

}

.elemen-card {
    backdrop-filter: saturate(180%) blur(6px);
    background: rgba(0, 0, 0, 0.03);
    /* border-radius: 0px; */
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: .3s cubic-bezier(.165, .84, .44, 1);
}

.hero-section {
    transition: .3s cubic-bezier(.165, .84, .44, 1);
}

.hero-section:hover {
    transform: translateY(-0.5rem);
    transition: .3s cubic-bezier(.165, .84, .44, 1);
}

.h-suntitle span {
    color: #ffffff;
    background-color: #000000;
}


/* 字体图标 */
.nav-dribble {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dribble:last-child {
    margin-left: 1rem;
}

.dribble {

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    padding: 6px;
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.fab {
    font-family: 'icomoon';
}

.icon-behance::after {
    content: "\e900";
}

.icon-github::after {
    content: "\eab0";
}

/* 背景线条 */

.viewer-type-vertical.mag .mag-pages-container .container .page .content-scroll-wrapper {
    overflow: hidden;
}

.mag .mag-pages-container .container .page .content-scroll-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.mag .mag-pages-container .container .page .content-scroll-wrapper .content-bounds {
    position: absolute;
    overflow: hidden;
}

.mag .mag-pages-container .container .page .content-scroll-wrapper .content-bounds .page-content-container {
    position: relative;
    overflow: visible;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    outline: 0;
}

.animation-container {
    position: absolute;
    pointer-events: none !important;
}

.isdesktop .rmwidget.widget-picture {
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
}

.rmwidget.widget-picture.svg {
    pointer-events: none;
}

.rmwidget {
    position: absolute;
}

.rmwidget.widget-picture .svg-scale-wrapper {
    width: 100%;
    height: 100%;
}

.rmwidget.widget-picture div {
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.content-bounds {
    position: absolute;
    overflow: hidden;
}