.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 800px;
    height: 123px;
    border-bottom: 1px solid #EBEBEB;
    background-color: rgba(255, 255, 255, 0);
}

.icon-font {
    width: 56px;
    height: 56px;
    background-color: rgba(255, 255, 255, 0);
}

.titles h1 {
    font-size: 1.8em;
    padding-left: 30px;
}

.banner .video-hd {
    width: 800px;
    height: 450px;
    border-radius: 10px;
    margin: 64px 0 0 0;
    background-color: rgb(255, 255, 255);
}

video {
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.box-lettlo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    padding: 10px;
    width: 820px;
    background-color: rgba(255, 255, 255, 0);
}

.box-lettlo>div {
    width: 185px;
    height: 185px;
    margin: 10px;
    border-radius: 10px;
    background-color: #f2f2f2;
}

.box-lettlo img {
    width: 100%;
    border-radius: 10px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 820px;
    padding: 10px;

}

.main>div {
    border-radius: 10px;
    width: 252px;
    height: 189px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
}

.main>div img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.fonts {
    width: 800px;
    height: 120px;
    margin-top: 0px;
    background-color: rgba(0, 0, 0, .02);
    border-radius: 10px;
}

.fonts h1 {
    margin: 32px 0 2px 0;
    font-size: 1.5em;
    text-align: center;
}

.fonts p {
    font-size: 14px;
    text-align: center;
    color: rgba(0, 0, 0, 0.3);

}